name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"     # Runs every day at midnight UTC
  workflow_dispatch:         # Manual trigger
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: nitingupta95
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg

      - name: Upload Snake to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
